.idea
.ant-targets-build.xml

**/vendor
**/node_modules
**/jspm_packages
**/.sass-cache

public/build
public/assets
public/images
public/pano
public/panos
public/pano_images

.env*
scss-lint.log
npm-debug.log

composer
composer.phar

**/*-*.tar.gz
**.DS_Store
**/.DS_Store
start.sh

.krpanolicense
.app.*
.php.ini.*
